<%= form_with(model: jesuit) do |form| %>
  <% if jesuit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jesuit.errors.count, "error") %> prohibited this jesuit from being saved:</h2>

      <ul>
        <% jesuit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :jl_id, "Jesuit Lives ID" %>
    <%= form.text_field :jl_id %>
  </div>

  <div class="field">
    <%= form.label :linking_id, "Linking ID" %>
    <%= form.text_field :linking_id %>
  </div>

  <div class="field">
    <%= form.label :title_id %>
    <%= form.text_field :title_id %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :first_name_abbrev %>
    <%= form.text_field :first_name_abbrev %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :alt_last_name %>
    <%= form.text_field :alt_last_name %>
  </div>

  <div class="field">
    <%= form.label :alt_first_name %>
    <%= form.text_field :alt_first_name %>
  </div>

  <div class="field">
    <%= form.label :add_last_name_info %>
    <%= form.text_field :add_last_name_info %>
  </div>

  <div class="field">
    <%= form.label :add_first_name_info %>
    <%= form.text_field :add_first_name_info %>
  </div>

  <div class="field">
    <%= form.label :birth_date_id %>
    <%= form.text_field :birth_date_id %>
  </div>

  <div class="field">
    <%= form.label :alt_birth_date_id %>
    <%= form.text_field :alt_birth_date_id %>
  </div>

  <div class="field">
    <%= form.label :add_birth_date_info %>
    <%= form.text_field :add_birth_date_info %>
  </div>

  <div class="field">
    <%= form.label :place_of_birth_id %>
    <%= form.text_field :place_of_birth_id %>
  </div>

  <div class="field">
    <%= form.label :alt_place_of_birth_id %>
    <%= form.text_field :alt_place_of_birth_id %>
  </div>

  <div class="field">
    <%= form.label :add_place_of_birth_info %>
    <%= form.text_field :add_place_of_birth_info %>
  </div>

  <div class="field">
    <%= form.label :entrance_date_id %>
    <%= form.text_field :entrance_date_id %>
  </div>

  <div class="field">
    <%= form.label :entrance_date_2_id %>
    <%= form.text_field :entrance_date_2_id %>
  </div>

  <div class="field">
    <%= form.label :alt_entrance_date_i1_id %>
    <%= form.text_field :alt_entrance_date_i1_id %>
  </div>

  <div class="field">
    <%= form.label :alt_entrance_date_i2_id %>
    <%= form.text_field :alt_entrance_date_i2_id %>
  </div>

  <div class="field">
    <%= form.label :add_entrance_date_i1_info %>
    <%= form.text_field :add_entrance_date_i1_info %>
  </div>

  <div class="field">
    <%= form.label :add_entrance_date_i2_info %>
    <%= form.text_field :add_entrance_date_i2_info %>
  </div>

  <div class="field">
    <%= form.label :entrance_province_id %>
    <%= form.text_field :entrance_province_id %>
  </div>

  <div class="field">
    <%= form.label :entrance_province_2_id %>
    <%= form.text_field :entrance_province_2_id %>
  </div>

  <div class="field">
    <%= form.label :add_entrance_place_info_i1 %>
    <%= form.text_field :add_entrance_place_info_i1 %>
  </div>

  <div class="field">
    <%= form.label :add_entrance_place_info_i2 %>
    <%= form.text_field :add_entrance_place_info_i2 %>
  </div>

  <div class="field">
    <%= form.label :status_id %>
    <%= form.text_field :status_id %>
  </div>

  <div class="field">
    <%= form.label :add_status_info %>
    <%= form.text_field :add_status_info %>
  </div>

  <div class="field">
    <%= form.label :ordination_date_id %>
    <%= form.text_field :ordination_date_id %>
  </div>

  <div class="field">
    <%= form.label :vow_date_id %>
    <%= form.text_field :vow_date_id %>
  </div>

  <div class="field">
    <%= form.label :alt_final_vow_date_id %>
    <%= form.text_field :alt_final_vow_date_id %>
  </div>

  <div class="field">
    <%= form.label :add_final_vow_date_info %>
    <%= form.text_field :add_final_vow_date_info %>
  </div>

  <div class="field">
    <%= form.label :death_date_id %>
    <%= form.text_field :death_date_id %>
  </div>

  <div class="field">
    <%= form.label :alt_death_date_id %>
    <%= form.text_field :alt_death_date_id %>
  </div>

  <div class="field">
    <%= form.label :add_death_date_info %>
    <%= form.text_field :add_death_date_info %>
  </div>

  <div class="field">
    <%= form.label :place_of_death_id %>
    <%= form.text_field :place_of_death_id %>
  </div>

  <div class="field">
    <%= form.label :alt_place_of_death_id %>
    <%= form.text_field :alt_place_of_death_id %>
  </div>

  <div class="field">
    <%= form.label :add_place_of_death_info %>
    <%= form.text_field :add_place_of_death_info %>
  </div>

  <div class="field">
    <%= form.label :portal_url %>
    <%= form.text_field :portal_url %>
  </div>

  <div class="field">
    <%= form.label :georgetown_url %>
    <%= form.text_field :georgetown_url %>
  </div>

  <div class="field">
    <%= form.label :web_resources %>
    <%= form.text_field :web_resources %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
