<% if @jesuit.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Jesuits index', jesuits_path, class: 'btn btn-info' %>
<% elsif can? :update, Jesuit %>
    <h2 class="edit-label mb-4"><span class="header-label">Editing Jesuit:</span> <%= @jesuit.full_name.present? ? @jesuit.full_name : @jesuit.id %></h2>

    <%= render 'form', jesuit: @jesuit %>

    <div class="button-group mt-4">
        <%= link_to 'Cancel', @jesuit, class: 'btn btn-info' %>
        <%= link_to 'Back', jesuits_path, class: 'btn btn-secondary' %>
    </div>
<% else %>
    <%= render 'shared/not_permitted' %>
<% end %>
