<p id="notice"><%= notice %></p>

<% if @jesuit.nil? %>
  <p>This record doesn't exist.</p>
  <%= link_to 'Go Back to Jesuits index', jesuits_path %>
<% elsif can? :read, Jesuit %>
  <p>
    <strong>ID:</strong>
    <%= @jesuit.jl_id %>
  </p>

  <p>
    <strong>Linking ID:</strong>
    <%= @jesuit.linking_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @jesuit.title.label %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @jesuit.last_name %>
  </p>

  <p>
    <strong>First name abbrev:</strong>
    <%= @jesuit.first_name_abbrev %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= @jesuit.first_name %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= @jesuit.birth_date.text %>
  </p>

  <p>
    <strong>Place of birth:</strong>
    <%= @jesuit.place_of_birth.label %>
  </p>

  <p>
    <strong>Entrance date:</strong>
    <%= @jesuit.entrance_date.text %>
  </p>

  <p>
    <strong>Entrance date 2:</strong>
    <%= @jesuit.entrance_date_2.text %>
  </p>

  <p>
    <strong>Entrance province:</strong>
    <%= @jesuit.entrance_province.label %>
  </p>

  <% if @jesuit.entrance_province_2 %>
    <p>
      <strong>Entrance province 2:</strong>
      <%= @jesuit.entrance_province_2.label %>
    </p>
  <% end %>

  <p>
    <strong>Status:</strong>
    <%= @jesuit.status.label %>
  </p>

  <p>
    <strong>Vow date:</strong>
    <%= @jesuit.vow_date.text %>
  </p>

  <p>
    <strong>Death date:</strong>
    <%= @jesuit.death_date.text %>
  </p>

  <% if can? :edit, Jesuit %>
    <%= link_to 'Edit', edit_jesuit_path(@jesuit) %> |
  <% end %>
  <%= link_to 'Back', jesuits_path %>
<% else %>
  <%= render 'shared/not_permitted' %>
<% end %>