<p id="notice"><%= notice %></p>

<p>
  <strong>Jl:</strong>
  <%= @jesuit.jl_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @jesuit.title_id %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @jesuit.last_name %>
</p>

<p>
  <strong>First name abbrev:</strong>
  <%= @jesuit.first_name_abbrev %>
</p>

<p>
  <strong>First name:</strong>
  <%= @jesuit.first_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @jesuit.birth_date_id %>
</p>

<p>
  <strong>Place of birth:</strong>
  <%= @jesuit.place_of_birth_id %>
</p>

<p>
  <strong>Entrance date:</strong>
  <%= @jesuit.entrance_date_id %>
</p>

<p>
  <strong>Entrance date 2:</strong>
  <%= @jesuit.entrance_date_2_id %>
</p>

<p>
  <strong>Entrance province:</strong>
  <%= @jesuit.entrance_province_id %>
</p>

<p>
  <strong>Entrance province 2:</strong>
  <%= @jesuit.entrance_province_2_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @jesuit.status_id %>
</p>

<p>
  <strong>Vow date:</strong>
  <%= @jesuit.vow_date_id %>
</p>

<p>
  <strong>Death date:</strong>
  <%= @jesuit.death_date_id %>
</p>

<%= link_to 'Edit', edit_jesuit_path(@jesuit) %> |
<%= link_to 'Back', jesuits_path %>
