<div class="row">
  <span class="blacklight-<%= @key %> <%= @label_class %> show-metadata__field-label"><%= label %></span>
  <span class="blacklight-<%= @key %> <%= @value_class %> show-metadata__field-value"><%= value %></span>
</div>