<nav class="navbar navbar-expand-md topbar" role="navigation">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container-fluid">  
    <div class="collapse navbar-collapse justify-content-md-center" id="user-util-collapse">
      <%= render 'shared/user_util_links' %>
    </div>
  </div>
</nav>

<%# Select which search container to use based on if there are search parameters present, or if there is a @document object %>
<% if (!params[:q].blank? or !params[:f].blank? or !params[:search_field].blank?) || @document %>
  <div class="navbar-search navbar" role="navigation">
    <div class="<%= container_classes %> search-navbar-jon">
      <%= render_search_bar  %>
      <div class="search-links clearfix">
        <p id="search-help" class="search-link"><%= link_to 'Help', pages_page_path('tips') %></p>
        <!--p id="advanced-search" class="search-link"><a href="/advanced">Advanced Search</a></p-->
      </div>
    </div>
  </div>
<% else %>
  <%= render 'shared/homepage_search_box' %>
<% end %>