<ul class="navbar-nav">
  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarAboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
      <ul class="dropdown-menu" aria-labelledby="navbarAboutDropdown">
        <li><a class="dropdown-item" href="#">Learn more</a></li>
        <li><a class="dropdown-item" href="#">Contact us</a></li>
      </ul>
  </li>
  <%= render_nav_actions do |config, action|%>
    <li class="nav-item"><%= action %></li>
  <% end %>
  <% if can? :access, 'rails_admin' %>
    <li class="nav-item"><%= link_to 'Admin panel', rails_admin_path, class: 'nav-link' %></li>
  <% end %>
  <!--
  <% if has_user_authentication_provider? %>
    <% if current_user %>
    <li class="nav-item">
      <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path, class: 'nav-link' %>
    </li>
    <% unless current_user.to_s.blank? -%>
    <li class="nav-item">
      <%= link_to current_user, edit_user_registration_path, class: 'nav-link' %>
    </li>
    <% end %>
    <% else %>
    <li class="nav-item">
      <%= link_to t('blacklight.header_links.login'), new_user_session_path, class: 'nav-link' %>
    </li>
    <% end %>
  <% end %>
  -->
</ul>