<div class="col-12">
  <p id="notice"><%= notice %></p>

  <h1>Titles</h1>

  <div class="filter my-4 p-4 bg-light text-dark border">
    <h2 class="pb-2">Filter</h2>
    <%= datagrid_form_for @titles_grid, url: titles_path %>
  </div>

  <%= paginate @titles_grid.assets %>

  <%= datagrid_table(@titles_grid, :html => {class: 'table table-striped'}) %>

  <%= paginate @titles_grid.assets %>
</div>

<% if can? :create, Title %>
  <div class="button-group col-12 mt-5">
    <%= link_to 'Add New Title', new_title_path, class: 'btn btn-primary' %>
  </div>
<% end %>
