<p id="notice"><%= notice %></p>

<% if @title.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Titles index', titles_path %>
<% elsif can? :read, Title %>
  <p>
    <strong>Abbreviation:</strong>
    <%= @title.abbreviation %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= @title.label %>
  </p>

  <p>
    <strong>Unabridged:</strong>
    <%= @title.unabridged %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @title.description %>
  </p>

  <% if can? :update, Title %>
    <%= link_to 'Edit', edit_title_path(@title) %> |
  <% end %>
  <%= link_to 'Back', titles_path %>
<% else %>
  <%= render 'shared/not_permitted' %>
<% end %>