<%= form_with(model: province) do |form| %>
  <% if province.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(province.errors.count, "error") %> prohibited this title from being saved:</h2>

      <ul>
        <% province.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :abbreviation %>
    <%= form.text_field :abbreviation, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :label %>
    <%= form.text_field :label, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :unabridged %>
    <%= form.text_field :unabridged, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
