<p id="notice"><%= notice %></p>

<h1>Provinces</h1>

<%= paginate @provinces %>

<table>
  <thead>
  <tr>
    <th>Abbreviation</th>
    <th>Label</th>
    <th>Unabridged</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <% @provinces.each do |province| %>
      <tr>
        <td><%= province.abbreviation %></td>
        <td><%= province.label %></td>
        <td><%= province.unabridged %></td>
        <td><%= province.description %></td>
        <td><% if can? :read, Province %><%= link_to 'Show', province %><% end %></td>
        <td><% if can? :edit, Province %> | <%= link_to 'Edit', edit_province_path(province) %><% end %></td>
        <td><% if can? :delete, Province %> | <%= link_to 'Destroy', province, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @provinces %>

<br>

<% if can? :create, Province %>
  <%= link_to 'New Province', new_province_path %>
<% end %>
