<div class="col-12">
  <p id="notice"><%= notice %></p>

  <h1>Provinces</h1>

  <div class="filter my-4 p-4 bg-light text-dark border">
    <h2 class="pb-2">Filter</h2>
    <%= datagrid_form_for @provinces_grid, url: provinces_path %>
  </div>

  <%= paginate @provinces_grid.assets %>

  <%= datagrid_table(@provinces_grid, :html => {class: 'table table-striped'}) %>

  <%= paginate @provinces_grid.assets %>
</div>

<% if can? :create, Province %>
  <div class="button-group col-12 mt-5"> 
    <%= link_to 'New Province', new_province_path, class: 'btn btn-primary' %>
  </div>
<% end %>
