<p id="notice"><%= notice %></p>

<p>
  <strong>Abbreviation:</strong>
  <%= @province.abbreviation %>
</p>

<p>
  <strong>Label:</strong>
  <%= @province.label %>
</p>

<p>
  <strong>Unabridged:</strong>
  <%= @province.unabridged %>
</p>

<p>
  <strong>Description:</strong>
  <%= @province.description %>
</p>

<%= link_to 'Edit', edit_province_path(@province) %> |
<%= link_to 'Back', provinces_path %>
