<% if @place.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Places index', places_path, class: 'btn btn-info' %>
<% elsif can? :update, Place %>
    <h2 class="edit-label mb-4"><span class="header-label">Editing Place:</span> <%= @place.label.present? ? @place.label : @place.id %></h2>
    
    <%= render 'form', place: @place %>

    <div class="button-group mt-4">
        <%= link_to 'Cancel', @place, class: 'btn btn-info' %>
        <%= link_to 'Back', places_path, class: 'btn btn-secondary' %>
    </div>
<% else %>
    <%= render 'shared/not_permitted' %>
<% end %>
