<div class="col-12">
  <p id="notice"><%= notice %></p>

  <h1>Places</h1>

  <div class="filter my-4 p-3 bg-light text-dark border">
    <h2 class="pb-2">Filter</h2>
    <%= datagrid_form_for @places_grid, url: places_path %>
  </div>

  <%= paginate @places_grid.assets %>

  <%= datagrid_table(@places_grid, :html => {class: 'table table-striped'}) %>

  <%= paginate @places_grid.assets %>
</div>

<% if can? :create, Place %>
  <div class="button-group col-12 mt-5">
    <%= link_to 'Add New Place', new_place_path, class: 'btn btn-primary' %>
  </div>
<% end %>
